<!DOCTYPE html>
<html ng-app="frontend">
<head>
  <title>Twitter stream & search result filter</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="javascripts/app.js" type="text/javascript"></script> <!-- not created yet -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body ng-controller="myController as myController">
<div class="container-fluid row">
  <div CLASS="col-md-6">
    <h3>Twitter stream & search result filter</h3>
    <form>
      <div class="form-group">
        <label for="stream tweet for">tweet query(parameter q for api)</label>
        <input type="text" class="form-control" ng-model="q">
        <small class="form-text text-muted">text search will function on this string</small>
      </div>
      <button type="submit" ng-click="myController.startStreaming(q)" class="btn btn-primary">Submit</button>
    </form>
    <br />
    <h4 >selected filter:</h4>
    <div class="row" ng-repeat="i in myController.filters">
      <div class="form-group col-md-4">
        <input type="text" class="form-control" ng-model="i.operator" disabled>
      </div>
      <div ng-hide="i.operator == 'textsearch'" class="form-group col-md-4">
        <input type="text" class="form-control" ng-model="i.field" disabled>
      </div>
      <div class="form-group col-md-4">
        <input type="text" class="form-control" ng-model="i.value" disabled>
      </div>
    </div>
    <h4>filter form:</h4>
    <form>
      <div class="form-group dropdown">
        <label >operator</label><br />
        <select ng-model="filter.operator">
          <option value="eq">eq(equal)</option>
          <option value="gt">gt(greater)</option>
          <option value="lt">lt(less)</option>
          <option value="in">in(in values)</option>
          <option value="textsearch">textsearch</option>
          <option value="contains">contains</option>
          <option value="startwith">startwith</option>
          <option value="endwith">endwith</option>
        </select>
      </div>
      <div ng-hide="filter.operator == 'textsearch'" class="form-group">
        <label >field</label><br />
        <select ng-model="filter.field">
          <option ng-if="filter.operator != 'gt' && filter.operator != 'lt'" value="author">author</option>
          <option ng-if="filter.operator != 'gt' && filter.operator != 'lt'" value="location">location</option>
          <option ng-if="filter.operator != 'gt' && filter.operator != 'lt'" value="body">body</option>
          <option ng-if="filter.operator != 'gt' && filter.operator != 'lt'" value="screenname">screenname</option>
          <option ng-if="filter.operator != 'startwith' && filter.operator != 'endwith' && filter.operator != 'contains'" value="date">date</option>
          <option ng-if="filter.operator != 'gt' && filter.operator != 'lt'" value="country">country</option>
          <option ng-if="filter.operator != 'gt' && filter.operator != 'lt'" value="countrycode">countrycode</option>
          <option ng-if="filter.operator != 'startwith' && filter.operator != 'endwith' && filter.operator != 'contains'" value="retweetcount">retweetcount</option>
          <option ng-if="filter.operator != 'startwith' && filter.operator != 'endwith' && filter.operator != 'contains'" value="replycount">replycount</option>
          <option ng-if="filter.operator != 'gt' && filter.operator != 'lt'" value="lang">lang</option>
          <option ng-if="filter.operator != 'startwith' && filter.operator != 'endwith' && filter.operator != 'contains'" value="favoritecount">favoritecount</option>
        </select>
      </div>
      <div class="form-group">
        <label >value</label>
        <input ng-if="filter.operator != 'in'" type="text" class="form-control" ng-model="filter.value"><br />
        <input ng-if="filter.operator == 'in'" type="text" class="form-control" ng-model="val"><br />
        <button ng-if="filter.operator == 'in'" type="submit" ng-click="myController.addValue(val)" class="btn btn-primary">add value</button>
        <small ng-if="filter.operator == 'in'" class="form-text text-muted"> values array:{{val}} {{filter.value}} </small>
      </div>
      <button type="submit" ng-click="myController.addFilter(filter)" class="btn btn-primary">add filter</button><br /><br />
      <div class="form-group">
        <label >sort</label>
        <select ng-model="sort">
          <option  value="author">author</option>
          <option  value="location">location</option>
          <option  value="body">body</option>
          <option  value="screenname">screenname</option>
          <option  value="country">country</option>
          <option  value="countrycode">countrycode</option>
          <option value="retweetcount">retweetcount</option>
          <option value="replycount">replycount</option>
          <option  value="lang">lang</option>
          <option value="favoritecount">favoritecount</option>

        </select>
        <small class="form-text text-muted"> sort key: {{sort}} </small>
      </div>
      <div class="form-group">
        <label >limit</label>
        <input type="number" class="form-control" ng-model="limit"><br />
        <small class="form-text text-muted"> limit: {{limit}} </small>
      </div>
      <div class="form-group">
        <label >page</label>
        <input type="number" class="form-control" ng-model="page"><br />
        <small class="form-text text-muted">  page: {{page}} </small>
      </div>
      <div class="form-group">
        <label >reverse</label>
        <select ng-model="reverse">
          <option value=true>true</option>
          <option value=false>false</option>
        </select>
        <small class="form-text text-muted"> reverse key: {{reverse}} </small>
      </div>
      <button type="submit" ng-click="myController.filterRequest(sort, page, limit, reverse)" class="btn btn-primary">submit</button>
    </form>
  </div>
  <div class="col-md-5 code-box ">
    <h3>response:</h3>
    <pre>
    {{json | prettyJSON}}
  </pre>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>